.button {
  border-radius: 10px;
  padding: 10px;
  background: white;
  font-color: black;
  font-size: 13px;
  border: 1px solid #dedede;

  display: grid;
  grid-auto-flow: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.button.block {
  width: 100%;
}

.button:disabled {
  background: #dedede;
  color: #9a9a9a;
}

/* designType */
.button.primary {
  background: #1677ff;
  color: white;
  border: none;
}

.button.primary:hover {
  background: #80b5ff;
}

.button.dashed {
  border-style: dotted;
}

.button.text {
  border: none;
}

.button.text:hover {
  background: #dedede;
}

.button.link {
  border: none;
  color: #1677ff;
}

.button.link:hover {
  color: #80b5ff;
}

/* danger type */
.button.danger {
  background: white;
  color: red;
  border: 1px solid red;
}

.button.danger:hover {
  background: white;
  color: #ff7b7b;
  border: 1px solid #ff7b7b;
}

.button.danger.primary {
  background: red;
  color: white;
}

.button.danger.primary:hover {
  background: #ff7b7b;
  color: white;
}

.button.danger.text {
  background: white;
  color: red;
  border: none;
}

.button.danger.text:hover {
  background: #ffe4e4;
  color: #ff7b7b;
}

/* size */
.button.large {
  font-size: 15px;
  padding: 15px;
}

.button.small {
  font-size: 11px;
  padding: 5px;
}

/* loading */
.button.loading {
  background: #ececec;
  color: #9a9a9a;
}

.button.primary.loading {
  background: #80b5ff;
  color: white;
}
